

.tituloDetalle{
    font-family:"League Spartan", sans-serif;
    color: #cdb4db;
    font-weight: 800;
}

.imagenDetalle{
    width: 300px;
    height: 300px;
}

.nombreDetalle{
    font-family:"League Spartan", sans-serif;
    color: black;
    font-weight: 750;
    font-size: x-large;

}

.descripcionDetalle{
    font-family:"League Spartan", sans-serif;
    color: black;
    font-weight: 750;
    font-size: x-large;
}

.precioDetalle{
    font-family:"League Spartan", sans-serif;
    color: #cdb4db;
    font-weight: 900;
    font-size: x-large;
}